services:
  music_player_db:
    image: mysql:9
    container_name: music_player_db
    environment:
      MYSQL_USER: music_user
      MYSQL_PASSWORD: music_password
      MYSQL_DB: music_db
    ports:
      - "5432:5432"
    volumes:
      - music_player_db_data:/var/lib/postgresql/data

volumes:
  music_player_db_data:
    driver: local