services:
  # yukikaze_player_db:
  #   image: mysql:9
  #   container_name: yukikaze_player_db
  #   environment:
  #     MYSQL_DATABASE:
  #     MYSQL_HOST:
  #     MYSQL_PASSWORD:
  #     MYSQL_PORT:
  #     MYSQL_SSL_MODE:
  #     MYSQL_USER:
  #   env_file: .env
  #   ports:
  #     - "3306:3306"
  #   volumes:
  #     - yukikaze_player_db_data:/var/lib/mysql/data

  yukikaze_player_app_prod:
    build: 
      context: .
      dockerfile: apps/web/Dockerfile.production
      args:
        VITE_API_URL: ${VITE_API_URL}
        VITE_BASE_URL: ${VITE_BASE_URL}
        WEB_PORT: ${WEB_PORT}
    container_name: yukikaze_player_app
    ports:
      - "5173:5173"
    restart: unless-stopped
    env_file: .env
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:5173/ || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 10s
    depends_on:
      yukikaze_player_api_prod:
        condition: service_healthy
      # yukikaze_player_db:
      #   condition: service_healthy

  yukikaze_player_api_prod:
    build:
      context: .
      dockerfile: services/api/Dockerfile.production
    restart: unless-stopped
    env_file: .env
    container_name: yukikaze_player_api
    ports:
      - "5000:5000"
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:5000/ || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 10s
    # depends_on:
    #   yukikaze_player_db:
    #     condition: service_healthy

  rabbitmq:
    image: rabbitmq:3-management
    container_name: yukikaze_player_rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

# volumes:
#   yukikaze_player_db_data:
#     driver: local

# For production:
# docker compose up --build

# clean cache
# docker system prune -a --volumes