name: Release

on:
  push:
    branches:
      - main

jobs:
  deploy-backend:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout (for context only)
        uses: actions/checkout@v4

      - name: Deploy backend and frontend over SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASSWORD }}
          port: ${{ secrets.SSH_PORT }}
          # scripts for PM2 process deployment
          script: |
            set -euo pipefail
            cd "/var/www/html/music_player"
            bash ./build.sh pm2

            # Load Bun 
            # export BUN_INSTALL="$HOME/.bun"
            # export PATH="$BUN_INSTALL/bin:$PATH"

            # Load NVM (Node Version Manager) if it exists
            # export NVM_DIR="$HOME/.nvm"
            # [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"

            # SERVER_NAME="music-api"
            # FRONTEND_NAME="music-app"

            # bun install -g turbo

            # pm2 delete all || true

            # fetch and pull newest code from github
            # git fetch
            # git checkout main
            # git pull origin main

            # Install deps, build, and run with PM2
            # bun install
            # bun run build:packages

            # bun run build:services
            # turbo run build --filter=@yukikaze/playlist-service && turbo run build --filter=@yukikaze/gateway-service && turbo run build --filter=@yukikaze/home-service && turbo run build --filter=@yukikaze/song-service && turbo run build --filter=@yukikaze/artist-service && turbo run build --filter=@yukikaze/banner-service && turbo run build --filter=@yukikaze/user-service && turbo run build --filter=@yukikaze/auth-service && turbo run build --filter=@yukikaze/genre-service

            # bun run build:web

            # Start or reload the service
            # if pm2 describe "$SERVER_NAME" >/dev/null 2>&1; then
            #   pm2 reload "$SERVER_NAME"
            # else
            #   pm2 start "bun run start:services" --name "$SERVER_NAME"
            # fi
            # if pm2 describe "$FRONTEND_NAME" >/dev/null 2>&1; then
            #   pm2 reload "$FRONTEND_NAME"
            # else
            #   pm2 start "bun run start:web" --name "$FRONTEND_NAME"
            # fi

            # pm2 save
          # scripts for docker deployment
          # script: |
          #     set -euo pipefail

          #     PROJECT_PATH="${{ secrets.PROJECT_PATH }}"

          #     cd "$PROJECT_PATH"

          #     # fetch and pull newest code from github
          #     git fetch origin
          #     git checkout main
          #     git pull

          #     # check if docker is installed
          #     if ! command -v docker compose &> /dev/null; then
          #       echo "Docker Compose not found"
          #       echo "Installing Docker Compose"

          #       # Uninstall old versions if any
          #       sudo apt remove $(dpkg --get-selections docker.io docker-compose docker-compose-v2 docker-doc podman-docker containerd runc | cut -f1)

          #       # Add Docker's official GPG key:
          #       sudo apt install ca-certificates curl
          #       sudo install -m 0755 -d /etc/apt/keyrings
          #       sudo curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
          #       sudo chmod a+r /etc/apt/keyrings/docker.asc

          #       # Add the repository to Apt sources
          #       sudo tee /etc/apt/sources.list.d/docker.sources <<EOF
          #       Types: deb
          #       URIs: https://download.docker.com/linux/ubuntu
          #       Suites: $(. /etc/os-release && echo "${UBUNTU_CODENAME:-$VERSION_CODENAME}")
          #       Components: stable
          #       Signed-By: /etc/apt/keyrings/docker.asc
          #       EOF

          #       sudo apt update

          #       # Install the Docker packages
          #       sudo apt install docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin
          #       echo "Docker status:"
          #       sudo systemctl status docker
          #     fi

          #     echo "Stopping music-player-container only"
          #     docker compose down || true

          #     echo "Removing old images"
          #     docker compose -f docker-compose.yml rm -f || true

          #     echo "Building and starting containers"
          #     docker compose -f docker-compose.yml up --build -d

          #     echo "Deployment completed successfully"

          #     echo "Container status:"
          #     docker compose -f docker-compose.yml ps